<!DOCTYPE html>
<html>
  <head>
    <title>Showskill</title>
    <%= stylesheet_link_tag "jquery/jquery-ui-1.8.11.custom" %>
    <%= stylesheet_link_tag "jquery/jquery.jqplot" %>
    <%= stylesheet_link_tag "project/style" %>
    <%= javascript_include_tag 'http://js.socky.org/v0.4/socky.min.js' %>
    <%= javascript_include_tag "jquery/jquery-1.6.min"%>
    <%= javascript_include_tag "jquery/jquery-ui-1.8.11.custom.min"%>
    <%= javascript_include_tag "jquery/jqpolt/jquery.jqplot.min"%>
    <%= javascript_include_tag "jquery/jqpolt/plugins/jqplot.funnelRenderer.min"%>
    <%= javascript_include_tag "jquery/jqpolt/plugins/jqplot.pieRenderer.min"%>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tag %>
    <%= yield :head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
